/*

Style   : B4 CSS
Version : 1.0
Author  : Guilherme Raimondi - Techmob

Copyright © All rights Reserved 

*/


/*------------------------
[TABLE OF CONTENTS]
    
1. GLOBAL STYLES
2. NAVBAR
3. HERO
4. TABS
5. TESTIMONIALS
6. IMAGE GALLERY
7. PRICING
8. CALL TO ACTION
9. FOOTER

------------------------*/


html{
	/* root font-size 62.5% = 10px */
	font-size: 90%; /*deixa o ususario dar zoom na pag*/
}
body{
	box-sizing: border-box;
}

.preload{
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background-color: #15b983;
	background-image: linear-gradient(to right, #15B957, #1560B9);
	background-color: #262626;
}
#loader{
	background-color: #262626;
	position: fixed;
	z-index: 3010;
	top: 0;
	left: 0;
}
/*
LOADING BAR - AJAX
*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #22df80;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/*
MENU
*/
.display-50{
	font-size: 1.94rem;
	text-align: center;
	text-transform: uppercase;
}
.heading-2nd{
	font-size: 2.085rem;
    font-weight: 500;
    background-image: linear-gradient(to right, rgb(100, 197, 232), rgba(246, 184, 32, 0.9));
    -webkit-background-clip: text;
    color: transparent;
   	margin-bottom: 3rem;
}
.heading-3rd{
	margin: 2rem;
}
.heading-4th{
	margin-bottom: 1.6rem;
}
.heading-5th{
	margin-bottom: 1.3rem;
}

.main{
	margin-bottom: 2rem;
}
@media only screen and (min-width: 321px){
    html {
      font-size: 100%;
	}
}
@media only screen and (min-width: 450px){
    html {
      font-size: 105%;
	}
	.display-50{
		font-size: 2.5rem;
	}
}
@media only screen and (min-width: 576px){
    html {
      font-size: 110%;
	}
}
@media only screen and (min-width: 768px){
    html {
      font-size: 110%;
	}
	.text-home{
		font-size: 1.2rem;
	}
	.showcase{
		background-attachment: fixed;
	}
}
@media only screen and (min-width: 992px){
    html {
    	font-size: 120%;
  	}
  	/*.img-passos{
  		margin-left: 2rem;
  	}*/
  	.descrip-title{
  		text-align: left;
  	}
	.passos__itens{
		display: flex;
		align-items: center;
		text-align: left;
	}
	.passos__itens__item{
		margin: 0 2.5rem;
	}
}
@media only screen and (min-width: 1200px){
    html {
		font-size: 125%;
	}
}
.testimonial{
	background-color: #e6e6e6;
    color: #757575;
}
.rounded-img{
	width: 8rem !important;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}
.input{
	margin: .2rem;
	width: 350px !important;
}
.btn-square{
    color: #fe9200;
    width: 100%;
    padding: .5rem;
    border: 1.4px solid #fe9200;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.btn-grad{
  width: 12rem;
  height: 4rem;
  transform: translate(-50%, -80%);
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-grad:hover {
  animation: gradient 10s ease infinite;
  font-size: 1.05rem;
  box-shadow: 0.2vw 0.2vw 0 lightcoral;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
.btn-green{
	background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    border: 1px solid rgba(27,31,35,0.2);
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    letter-spacing: .04rem;
    margin: .2rem;
    width: 16rem;
}
.btn-green:hover{
	background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.5);
}
.btn-cyan{
	background-color: #28a745;
    background-image: linear-gradient(-180deg, #18d89a 0%, #099a6b 90%);
    border: 1px solid rgba(27,31,35,0.2);
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    letter-spacing: .04rem;
    margin: .2rem;
    width: 16rem;
    padding: .55rem .75rem;
}
.btn-cyan:hover{
	background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.5);
}
.home__content{
	z-index: 500;
}
canvas {
	position: absolute;
	z-index: 100;
}


.bg-dark80{
	background: rgba(0,0,0,0.85);
}
.bg-blue{
	background: #64c5e8;
}
.bg-blue2{
	background: #00a8a6;
}
.bg-grad-blue{
	background: linear-gradient(
		to right bottom,
		rgb(100, 197, 232),
		rgba(246, 184, 32, 0.5))
	/*background: linear-gradient(to left bottom,#64c5e8,#f6b820);*/
}
.bg-yellow{
	background: #f0c33a;
}
.bg-darkPink{
	background: #372e33;
}
.bg-pink{
	background: #cd3774;
}
.bg-black{
	background: #0c0b13;
}
.bg-black2{
	background: #0f0909;
}
.bg-black3{
	background: #1e1c1d;
}
.bg-gradient-orange{
	background: linear-gradient(to left bottom,#f04670,#f9c121);
}
.text-light-green{
	color: #67dea3;
}
.text-dark-green{
	color: #03b070;
}
.text-orange{
	color: #fe9200;
}
.text-red{
	color: #f04570;
}
.text-small{
	font-size: .6rem;
}
.text-shadow{
	text-shadow: 1px 2px 3px rgba(0,0,0,1);
}
.text-shadow-light{
	text-shadow: .5px .5px .5px rgba(0,0,0,1);
}
.owl-prev{
    position: absolute;
    top: 10%;
    left: .2rem;
}
.owl-prev span{
	color: #D6D6D6;
    text-shadow: 0.5px 0.5px 0.5px rgba(50,50,50,1);
    font-size: 4rem;
}
.owl-next{
    position: absolute;
    top: 10%;
    right: .2rem;
}
.owl-next span{
	color: #D6D6D6;
    text-shadow: 0.5px 0.5px 0.5px rgba(50,50,50,1);
    font-size: 4rem;
}
.owl-theme .owl-nav [class*='owl-']:hover{
	background: transparent;
	outline: none;
}
/*.owl-theme .owl-nav [class*='owl-'] span:hover{
	color: #67dea3;
}*/
.owl-theme .owl-nav [class*='owl-']:focus{
	outline: none;
}
.owl-theme .owl-dots .owl-dot span{
	width: 1.7rem;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #67dea3;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 2rem;
}
.hide{
	display: none;
}
/*@keyframes moveToLeft{
	0%{
		width: 280px;
	}
	100%{
		width: 0%;
		padding: 3rem 0 2rem 0;
	}
}
@keyframes moveToRight{
	0%{
		width: 0%;
		padding: 3rem 0 2rem 0;
	}
	100%{
		width: 280px;
		
	}
}
@keyframes moveToRightFade{
	0%{
		transform: translateX(220px);
		opacity: 0
	}
	100%{
		transform: translate(0);
		opacity: 1;
		
	}
}*/
.animate-left{
	opacity: 0;
	transform: translate3d(100px,0,0); /*3d tem performace melhor*/
	transition: .5s ease-out;
}
.animate-right{
	opacity: 0;
	transform: translate3d(-100px,0,0); /*3d tem performace melhor*/
	transition: .5s ease-out;
}
.animate-top{
	opacity: 0;
	transform: translate3d(0,100px,0); /*3d tem performace melhor*/
	transition: .5s ease-out;
}
.animate-start{
	opacity: 1;
	transform: translate3d(0,0,0);
}
.menu-toggle{
	cursor: pointer;
	outline: none;
	border:none;
	font-size: 25px;
	position: fixed;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	padding: 0 10px;
	right: 0;
	top: 2.2%;
	background-color: #000;
	z-index: 500;
}
.menu-toggle:hover{
	color: #67dea3;
}
.menu-toggle:focus{
	outline: none;
}
/* Mobile Navbar*/
.mask {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 600;
}
.navbar-mobile{
	background-image: url(https://sqy7rm.media.zestyio.com/background-polygons-2x.png), linear-gradient(-134deg,#202020 1%,#000 97%);
	background-position: center, center;
    background-size: cover, cover;
	/*background-image: url(../img/background-polygons.png)*/
	/*background: #0C0C0C;*/
	color: rgba(255,255,255,.25);
	font-size: .85rem;
	line-height: 1.846;
    padding: 3rem 2rem 2rem 2.5rem;
    height: 100%;
    width: 280px;
    margin-right: -280px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 700;
    overflow: hidden;
    overflow-x: hidden;
    /*-webkit-transition: all .5s ease;
    transition: opacity 3s;*/
    /*animation: moveToRight .7s;*/
    box-sizing: inherit;
    transition: 0.4s all;
}
.navbar-mobile.shown {
	margin-right: 0;
}
.navbar-mobile__btn-close{
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.8rem;
    color: white;
    position: absolute;
    top: 1%;
    right: 0;
    padding: 0 15px;
    text-shadow: none;
    z-index: 800;
    white-space: nowrap;
    transition: 0.3s all ease;
}
.navbar-mobile__btn-close:hover{
	color: #67dea3;
	transform: translateX(4px);
}
.navbar__content{
	/*animation: moveToRightFade .8s;*/
	animation-delay: .6s;
	animation-fill-mode: backwards;

}
.navbar-mobile__title{
	color: #71faaf;
	font-size: .8rem;
	margin-bottom: 1rem;
}
.navbar-mobile__nav{
	overflow-y: hidden;
	overflow-x: hidden;
	list-style: none;
	color: white;
	padding: 0;

}
.navbar-mobile__nav__item{
	white-space: nowrap;
	margin-bottom: 30px;
}
.link{
	color: #fff;
}
.link:link{
	text-decoration: none;
}
.link:hover{
	color: #fff;
	opacity: .5;
}
.navbar-mobile__text{
	margin: 0;
	letter-spacing: .5px;
}
.navbar-mobile__social{
	white-space: nowrap;
	list-style: none;
	padding: 0;
	margin-bottom: .5rem;
}
.navbar-mobile__social__link{
	display: inline-block;
}
.btn-outline-ligther{
	font-size: .8rem;
    margin-top: 6rem;
    padding: 10px 10px;
    width: 100%;
}
.navbar-mobile-footer{
	position: absolute;
	bottom: 0;
	left: 20%;
	margin-bottom: 1rem;
}
/* --------------------   */

.img-passos{
	max-width: 12rem;
	display: block;
	margin: 0 auto 1.5rem auto;
}
.img-passos-maior{
	max-width: 100%;
}
.section{
	padding: 4.5rem 0;
}
.brand{
	height: 2rem;
}
.showcase{
	height: 100vh;
	background-image: linear-gradient(
		to right bottom,
		rgba(0,0,0,0.8),
		rgba(0,0,0,0.6)),
		url(../img/teatro-home.png);
	background-size: cover;
	background-position: center center;
}

@media only screen and (max-width: 576px){
	.btn-cyan{
		width: 100%;
	}
	.btn-green{
		width: 100%;
	}
}
.b4-img{
	width: 11rem;
}
.draw-img{
	height: 3.5rem;
	/*margin:1rem;*/
}


/* ---------------- PASSOS ---------------- */

.passos{
	margin: 2rem 1rem 1rem 1rem;
	
}
/*.passos__itens__item{
	margin-top: 5rem;
}*/
.circle-icon{
	width: 70px;
    height: 70px;
    font-size: 28px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #03c47d;
    background-color: #fff;
    flex:6;
    align-items: center;
    padding: 30px;
    margin: 1rem 2rem 1rem .5rem;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
}

.passos__itens__item:hover .circle-icon{
	background-color: #03c47d;
	color: white;
	box-shadow: .1rem .2rem .3rem rgba(0,0,0,.5);
}

/* ---------------------------------------- */

.works-done{
	background-image: url(../img/bricks.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.card-boxes{
	margin: 0;
}
.card-events{
	box-shadow: .2rem .3rem .5rem rgba(0,0,0,.5);
	margin: 0;
	border-radius: 8px;
}
.card-img{
	border-radius: 8px;
}
.card-icon{
	position: absolute;
	bottom: 1.5%;
	width: 100%;
}
.youtube-icon{
	display: inline-block;
	font-size: 4rem;
	color: red;
}
.fa-angle-down{
	color: white;
}
.fa-angle-down:hover{
	text-decoration: none;
    color: white;
}
.arrow{
    text-align: center;
    width: 100%;
    top: 90%;
    position: absolute;
    right: 0;
    font-size: 2.5rem;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.btn-flat:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

.btn-flat:hover {
    box-shadow: 0 4px #018e5f;
    top: 2px;
}
.btn-flat {
    border: none;
    border-radius: 5px;
    background: #15b983;
    cursor: pointer;
    padding: 15px 80px;
    display: inline-block;
    font-size: 1.23rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /* background: #cb4e4e; */
    color: #fff;
    box-shadow: 0 6px #018e5f;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.icon{
	transition: all 0.2s linear;
}
.icon:hover{
	opacity: .5;
}
.social-icon{
	margin: 0 10px;
	font-size: .9rem;
	text-align: right;
}
.todomes-img{
	margin: 0 auto 2rem auto;
	display: block;
	max-width: 20rem;
}
.img-logo{
	max-height: 80px;
	margin-right: 40px;
}
.btn-up{
	transition: all 0.2s linear;
	box-shadow: .1rem .1rem .1rem rgba(0,0,0,.2);
}
.btn-up:hover{
	box-shadow: .2rem .3rem .5rem rgba(0,0,0,.6);
	transform: translateY(-.1rem);
}
.footer{
	border-top: 2px solid #262626;
	background: #262626;
	color: white;
	padding: 0 1rem 2rem 1rem;
	text-align: center;
}
.page-footer{
	margin: 0;
}
.menino-quadro{
	height: 9rem;
}
.contact{
	background: #262626;
}
.line-fade{
	margin: 3rem 0 0 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(90,90,90, 0), rgba(90,90,90, 0.75), rgba(90,90,90, 0));
}

/* white spaces background/video menu lateral carrousel*/
